<!DOCTYPE html>
<html lang="en">
<head>
  <title>IronAgile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IronAgile</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Evénements</a></li>
      <li><a href="{% url 'mesInscriptions' %}">Mes inscriptions</a></li>
        <li><a href="#">Se deconnecter</a></li>
    </ul>
  </div>
</nav>

{%  block content %}
{%  endblock %}

</body>
</html>
<style type="text/css">
    body { background: #21aba5 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
