{% extends 'base.html' %}
{% block content %}
    {% load filters %}
 <div class="container ">
        <div class="row mt-3 ">
            <div class="col   ">
                <div class="row mt-3 mb-1">


            </div>
        </div>
    </div>

    <!-- Benevoles -->

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">date</th>
                <th scope="col">heure</th>
                <th scope="col">adresse</th>
                <th scope="col">code postal</th>
                <th scope="col">ville</th>
                <th scope="col"></th>
            </tr>
            </thead>
        {% for eve in Evenement %}
            <tbody>

                <tr>
                    <td>{{ eve.titre }}</td>
                    <td>{{ eve.date }}</td>
                    <td>{{ eve.heure }}</td>
                    <td>{{ eve.adresse }}</td>
                    <td>{{ eve.codePostal }}</td>
                    <td>{{ eve.ville }}</td>
                       <td>

                       {% getInscriptionEnCour request.user eve.id as inscrit %}
                           {% if inscrit %}
                        <a href="{% url 'invitation' eve.pk %}" class="btn btn-success  active" role="button" aria-pressed="true">Imprimer l'invitation</a>
                        </button>
                           {% else %}
                           <a href="{% url 'inscriptionEvenement' eve.id%}" class="btn btn-info  " role="button" aria-pressed="true">S'inscrire</a>
                        </button>
                           {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}