<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>IronTask</title>
    {% load static %}

    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet">
    <link href={% static 'css/templates/login.css' %} rel="stylesheet">
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
</head>


<body>


<div class="wrapper">



    <form class="form-signin" method="POST" style="background-color: #8fd8d6;">{% csrf_token %}


        <h2 class="form-signin-heading">Veuillez vous identifier</h2>
        {{ form.username }}
        <p></p>
        {{ form.password }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
        <a href="{% url 'signup' %}" class="btn btn-outline-secondary btn-sm btn-block" role="button">Créer un compte</a>
        <a href="{% url 'lostpw' %}" class="">mot de passe oublié ?</a>
    </form>
</div>

</body>
</html>
<style type="text/css">
    body { background: #21aba5 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
