<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta charset="utf-8" />
  </header>
  <body>
    <h1>Créer un compte utilisateur</h1>
    <form>

        <div class="w-75 p-3" style="background-color: #8fd8d6;">
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Civilité</label>
            <div class="col-10">
              <select class="custom-select">
                <option selected>Civilité...</option>
                <option value="1">Madame</option>
                <option value="2">Monsieur</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Nom</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Nom">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Prénom</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Prénom">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">E-Mail</label>
            <div class="col-10">
              <input class="form-control" type="text" value="E-mail">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Mot de passe</label>
            <div class="col-10">
              <input class="form-control" type="password" value="Mot de passe">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Confirmation mot de passe</label>
            <div class="col-10">
              <input class="form-control" type="password" value="Mot de passe">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Adresse</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Adresse">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Code postal</label>
            <div class="col-10">
              <input class="form-control" type="text" value="Code Postal">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Ville</label>
            <div class="col-10">
              <input class="form-control" type="text" value="ville">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-10">
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
          </div>
      </div>
    </form>
  </body>
</html>
